@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
	--font-family: 'Roboto', sans-serif;

	--gradient-text: linear-gradient(270.11deg, #8155BA 0.08%, #BEAFC2 94.04%);
	--gradient-bg: linear-gradient(89.83deg, #ffffff 1.11%, #f3faff 99.88%);

	--color-heading: #695E93;
	--color-navlinks: #5c5c5c;
	--color-text: #878899;
	--color-input-border: #00000029;
	--color-input-placeholder: #00000033;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
